.App {
  text-align: center;
  background-color: #f3eff7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #f3eff7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Navigation {
  background-color: #f3eff7;
  font-family: 'Source Code Pro';
}