.container-lg,
.container-md,
.container-sm,
.container {
  max-width: 96%;
}

.App {
  text-align: center;
  background-color: white;
  font-family: 'Source Code Pro';
  font-size: calc(5px + 2vmin);
}

.App h1 {
  font-weight: bold;
  color: #49347C;
}

.App h2 {
  color: #49347C;
}

.App h5 {
  color: #49347C;
}

.App p {
  font-family: 'Inter';
  color: #14142B;
}

.font-year {
  font-family: "Source Code Pro";
  font-size: calc(35px + 2vmin);
  font-weight: 600;
  color: #8868ce !important;

}

.App-header {
  background-color: #f3eff7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #b7a8e9;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #b7a8e9;
}

.background-gradient {
  background: linear-gradient(to bottom, #f3eff7, white);
  background-repeat: no-repeat;
}

.background-gradient-4 {
  background: linear-gradient(to right,
      #dac4f9 20%,
      #d2b4f5 40%,
      #bd94ff 60%,
      #ACAEFA 85%);
}

.background-purple {
  background: #f3eff7;
}

.background-stripes {
  background: linear-gradient(to bottom,
      transparent 0%,
      transparent 15%,
      #dac4f9 15%,
      #d2b4f5 20%,
      #bd94ff 25%,
      #ACAEFA 30%,
      transparent 30%),
    linear-gradient(to bottom,
      transparent 40%,
      #dac4f9 40%,
      #d2b4f5 45%,
      #bd94ff 50%,
      #ACAEFA 55%,
      transparent 55%),
    linear-gradient(to bottom,
      transparent 65%,
      #dac4f9 65%,
      #d2b4f5 70%,
      #bd94ff 75%,
      #ACAEFA 80%,
      transparent 80%),
    transparent;
}

.background-2-gradient {
  background:
    linear-gradient(to bottom,
      #dac4f9 20%,
      #d2b4f5 40%,
      #bd94ff 75%,
      transparent 75%),
    linear-gradient(to bottom,
      #dac4f9 75%,
      #d2b4f5 80%,
      #bd94ff 90%,
      #ACAEFA 98%)
}

.social-buttons,
.redirect-buttons {
  display: flex;
  gap: 2%;
  margin-bottom: 2%;
}

.social-buttons a,
.redirect-buttons a {
  padding: 8px 20px;
  color: #49347c;
  background-color: white;
  border-radius: 30px;
  border: 2px solid #49347c;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.social-buttons a:hover,
.redirect-buttons a:hover {
  background-color: #49347c;
  color: white;
}

img {
  max-width: 100%;
}

.text-align-left {
  text-align: left;
}

.quote {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.quote-link {
  color: #14142B;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5%;
  padding-right: 5%;
}

.quote-link h5 {
  color: #14142B;
}

.quote-link a {
  color: #14142B;
  text-decoration: none;
  font-weight: 500;
}

.sponsor-text {
  color: #14142B;
  font-size: 120%;
  font-weight: 600;
}

.impact-container {
  padding-top: 50px;
}

.impact-container p {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 50px;
  color: #8868ce;
}

/* General container */
.text-image-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.content-container {
  align-items: center;
}

.text-section {
  text-align: left;
  padding: 50px;
}

.image-section {
  flex: 1;
  text-align: center;
}

.image-section img {
  height: auto;
  border-radius: 50px;
  padding: 30px;
}

.image-border-gradient {
  position: relative;
  display: inline-block;
  border-radius: 15px;
  background: linear-gradient(to bottom,
      #dac4f9 0%,
      #d2b4f5 25%,
      #bd94ff 50%,
      #ACAEFA 75%,
      #dac4f9 100%);
}

.image-border-purple img {
  background: #f3eff7;
  border-radius: 20px;
}

/* Quote-Image */
.quote-text-container {
  padding-top: 25px;
  padding-left: 50px;
  padding-bottom: 25px;
  padding-right: 0px;
}

.quote-text {
  background: white;
  font-family: "Inter";
  font-size: calc(8px + 2vmin);
  font-weight: 600;
  border-radius: 10px 0 0 10px;
  padding: 50px;
  height: 100%;
  color: #49347C !important;
}

.quote-author {
  padding-top: 15px;
  font-size: calc(6px + 2vmin);
  font-weight: 400;
  color: #b7a8d5 !important;
}

/* Image-Quote */
.quote-text-container-2 {
  padding-top: 25px;
  padding-left: 0px;
  padding-bottom: 25px;
  padding-right: 50px;
}

.quote-text-2 {
  background: white;
  font-family: "Inter";
  font-size: calc(8px + 2vmin);
  font-weight: 600;
  border-radius: 0 10px 10px 0;
  padding: 50px;
  height: 100%;
  color: #49347C !important;
}

.quote-image {
  padding: 0;
}

/* Cards */
.cards {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  padding: 2rem 2rem 1rem 2rem;
}

.card-image {
  width: 100%;
  height: auto;
  padding: 1rem;
}

.card-title {
  font-size: calc(5px + 2vmin);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-description {
  font-size: calc(3px + 2vmin);
}

.facts-cards {
  justify-content: center;
  margin-top: 2rem;
  padding: 20px;
}

.fact-card {
  box-shadow: 0px -1px 2px 0px rgba(160, 160, 160, 0.2);
  padding: 2rem 5rem 0rem 5rem;
  border-radius: 15px !important;
}

.fact-card-title {
  font-family: "Inter";
  font-size: calc(25px + 2vmin);
  font-weight: bold;
  color: #8868ce !important;
  justify-self: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.custom-badge {
  background: linear-gradient(to right, #dac4f9, #b7a8e9);
  padding: 10px 50px;
  border-radius: 0 !important;
  position: absolute;
  left: 0;
  font-weight: bold;
}

.team-card-image {
  max-width: 100%;
}

iframe {
  border: 0;
  max-width: 100%;
}

.money-text {
  background: white;
  font-family: "Inter";
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  text-align: left;
  border-radius: 7px;
  color: #8868ce !important;
  padding: 10px 20px 10px 20px;
  margin: 20px;
}


.money-text p {
  font-size: calc(8px + 1vmin);
  font-weight: lighter;
  border-radius: 10px;
  color: rgb(190, 190, 190);
  margin: 0;
}

.justify-center {
  justify-content: center;
}

.padding-0 {
  padding: 0;
}