.App {
  text-align: center;
  background-color: #f3eff7;
  font-family: 'Source Code Pro';
  font-size: calc(2px + 2vmin);
}

.App h1 {
  font-size: calc(24px + 5vmin);
  font-weight: bold;
  color: #49347C;
  /* color for the heading */
}

.App h2 {
  font-size: calc(20px + 3vmin);
  color: #49347C;
  /* color for the heading */
}

.App p {
  font-family: 'Inter';
  color: #14142B;
  /* color for the paragraph */
}

.App-header {
  background-color: #f3eff7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.social-buttons {
  display: flex;
  gap: 15px;
  /* Space between buttons */
}

.social-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 25px;
  /* Adds padding for button size */
  color: #6a4c9c;
  /* Purple background for the button */
  background-color: white;
  border-radius: 30px;
  /* Rounded edges for the button */
  border: 2px solid #6a4c9c;
  /* Purple border */
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.social-buttons a:hover {
  background-color: #4e3586;
  /* Darker shade for hover effect */
}


/* General container */
.text-image-container {
	display: flex;
	justify-content: center;
	padding: 50px;
  }
  
  .content-container {
	display: flex;
	flex-direction: row; /* Default: Horizontal layout */
	justify-content: space-between;
	align-items: center;
  }
  
  .text-section {
	flex: 2; /* Text section takes up more space */
	text-align: left;
  padding-right: 100px;
  }
  
  .image-section {
	flex: 1; /* Image section takes up less space */
  min-width: 300px;
	text-align: center;
  }
  
  .image-section img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
  }
  
  @media (max-width: 1000px) {
	.content-container {
	  flex-direction: column; /* Stacks items vertically */
	  align-items: center;
	}
  
	.image-section {
	  margin-top: 20px;
	}
  }


/* Cards */
.cards-container {
  text-align: center;
  padding: 5rem;
  font-family: Arial, sans-serif;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  text-align: left;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #e0e0e0;
}

.card-title {
  font-size: 1.2rem;
  margin: 1rem;
  color: #5a5a5a;
}

.card-description {
  font-size: 0.9rem;
  margin: 0 1rem 1rem;
  color: #7a7a7a;
  line-height: 1.5;
}